Repository klee-contrib/focus4: changes, and which Codecov flags are due for each by the changed paths.
All: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

codecov.yml:

codecov:
    branch: master
comment:
    layout: "header, diff, flags, components"
component_management:
    individual_components:
        - component_id: collections
          name: Collections
          paths:
              - packages/collections/**
        - component_id: core
          name: Core
          paths:
              - packages/core/**
        - component_id: docs
          name: Docs
          paths:
              - packages/docs/**
        - component_id: entities
          name: Entities
          paths:
              - packages/entities/**
        - component_id: form-toolbox
          name: Form toolbox
          paths:
              - packages/form-toolbox/**
        - component_id: forms
          name: Forms
          paths:
              - packages/forms/**
        - component_id: layout
          name: Layout
          paths:
              - packages/layout/**
        - component_id: stores
          name: Stores
          paths:
              - packages/stores/**
        - component_id: styling
          name: Styling
          paths:
              - packages/styling/**
        - component_id: toolbox
          name: Toolbox
          paths:
              - packages/toolbox/**
        - component_id: tooling
          name: Tooling
          paths:
              - packages/tooling/**

Fix inputDate pour autoriser les formats avec des heures/minutes/secondes dans le texte
  change/@focus4-form-toolbox-56c1c47b-e9cc-4956-b273-a0854a3b850a.json
  packages/form-toolbox/src/components/input-date.tsx
Due: Form toolbox

v12.12.6
  change/@focus4-form-toolbox-56c1c47b-e9cc-4956-b273-a0854a3b850a.json
  change/@focus4-stores-2b9c5841-b775-4220-993d-6dcd34a29e04.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Support pour prefix/suffix sur autocomplete/select chips
  change/@focus4-form-toolbox-9153aa86-360d-4f03-b2b5-57643cadfef6.json
  change/@focus4-toolbox-ace41bbf-fd7e-485b-b203-4a24e1306898.json
  packages/form-toolbox/src/components/autocomplete-chips.tsx
  packages/form-toolbox/src/components/select-chips.tsx
  packages/toolbox/src/components/__style__/text-field.css
  packages/toolbox/src/components/autocomplete.tsx
  packages/toolbox/src/components/dropdown.tsx
  packages/toolbox/src/components/text-field.tsx
Due: Form toolbox, Toolbox

deps
  package-lock.json
  package.json
  packages/collections/package.json
  packages/docs/package.json
  packages/layout/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Docs, Layout, Toolbox, Tooling

`keepSelectedValuesInAutocomplete` pour AutocompleteChips
  packages/form-toolbox/src/components/autocomplete-chips.tsx
  packages/form-toolbox/src/components/select-chips.tsx
Due: Form toolbox

v12.12.7
  change/@focus4-form-toolbox-9153aa86-360d-4f03-b2b5-57643cadfef6.json
  change/@focus4-toolbox-ace41bbf-fd7e-485b-b203-4a24e1306898.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/toolbox/package.json
Due: Collections, Docs, Form toolbox, Layout, Toolbox

fix build
  package-lock.json
  package.json
  packages/docs/package.json
  packages/tooling/package.json
Due: Docs, Tooling

Force le focus trap à toujours focus la popin/le dialog à l'ouverture
  change/@focus4-layout-c8853bc7-047b-4e82-ad0f-4bca5c1c66f9.json
  packages/layout/src/presentation/dialog.tsx
  packages/layout/src/presentation/scrollable.tsx
Due: Layout

v12.12.8
  change/@focus4-layout-c8853bc7-047b-4e82-ad0f-4bca5c1c66f9.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/layout/package.json
Due: Collections, Docs, Layout

Intégration du caractère obligatoire des champs dans le typage des entités, et `store.getValues()`
  change/@focus4-entities-e6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  change/@focus4-stores-c40b9e46-b414-4a66-8f0e-43cc18392c1b.json
  packages/collections/src/search/search-bar.tsx
  packages/docs/collections/02-store.mdx
  packages/docs/model/04-store.mdx
  packages/docs/model/08-form-store.mdx
  packages/docs/model/09-form-specs.mdx
  packages/entities/src/builders/entries.ts
  packages/entities/src/builders/entry-builders.ts
  packages/entities/src/focus4.entities.ts
  packages/entities/src/types.ts
  packages/forms/src/stores/form.ts
  packages/forms/src/stores/store.ts
  packages/legacy/src/form.ts
  packages/stores/src/collection/__tests__/store.test.ts
  packages/stores/src/collection/server.ts
  packages/stores/src/collection/types.ts
  packages/stores/src/entity/__tests__/index.test.ts
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/form/builders/entity-field.ts
  packages/stores/src/entity/form/builders/form-actions.ts
  packages/stores/src/entity/form/builders/form-entry.ts
  packages/stores/src/entity/form/builders/form-list-node.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/form/validation.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/entity/store/index.ts
  packages/stores/src/entity/store/load-builder.ts
  packages/stores/src/entity/store/node.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/types/index.ts
  packages/stores/src/entity/types/store.ts
  packages/stores/src/entity/types/utils.ts
  packages/stores/src/entity/utils/index.ts
  packages/stores/src/entity/utils/is-empty.ts
  packages/stores/src/entity/utils/to-flat-values.ts
  packages/stores/src/focus4.stores.ts
Due: Collections, Docs, Entities, Forms, Stores

v12.13.0-rc.0
  change/@focus4-entities-e6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  change/@focus4-stores-c40b9e46-b414-4a66-8f0e-43cc18392c1b.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Entities, Form toolbox, Forms, Stores

deps + export manquant QueryParams
  change/@focus4-core-b506db93-0b84-427b-903d-4a79af1440f7.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/focus4.core.ts
  packages/core/src/router/index.ts
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
  tsconfig.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

v12.12.9
  change/@focus4-core-b506db93-0b84-427b-903d-4a79af1440f7.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores

Retrait usages MobX sans proxys
  change/@focus4-stores-bcfa84d3-2811-4dbe-808c-7a762148bc87.json
  packages/stores/src/collection/base.ts
  packages/stores/src/entity/form/builders/entity-field.ts
  packages/stores/src/entity/form/node.ts
Due: Stores

Upgrade Node.js version from 22 to 24 in CI
  .github/workflows/tests.yaml
Due: none

deps (oxlint) + retrait coverage storybook
  .github/workflows/docs.yaml
  .github/workflows/tests.yaml
  change/@focus4-toolbox-f6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  change/@focus4-tooling-a6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/collections/src/list/contextual-actions.tsx
  packages/core/package.json
  packages/docs/.storybook/main.ts
  packages/docs/package.json
  packages/docs/vitest.config.ts
  packages/docs/vitest.shims.d.ts
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/entity/form/builders/form-entry.ts
  packages/styling/package.json
  packages/toolbox/package.json
  packages/toolbox/src/components/ripple.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Quelques tests en plus
  packages/layout/src/header/__tests__/header.test.tsx
  packages/layout/src/header/__tests__/item.test.tsx
  packages/layout/src/menu/__tests__/main-menu.test.tsx
  packages/layout/src/presentation/__tests__/content.test.tsx
  packages/toolbox/src/components/__tests__/dropdown.test.tsx
  packages/toolbox/src/components/__tests__/floating-action-button.test.tsx
  packages/toolbox/src/components/__tests__/menu.test.tsx
  packages/toolbox/src/components/__tests__/ripple.test.tsx
  packages/toolbox/src/components/__tests__/snackbar.test.tsx
  packages/toolbox/src/components/__tests__/tabs.test.tsx
  packages/toolbox/src/components/__tests__/tooltip.test.tsx
Due: Layout, Toolbox

Fix calcul coverage qui ne prenait pas en compte les fichiers non testés... 🥺
  vite.config.ts
Due: none

v12.13.0
  change/@focus4-entities-e6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  change/@focus4-stores-bcfa84d3-2811-4dbe-808c-7a762148bc87.json
  change/@focus4-stores-c40b9e46-b414-4a66-8f0e-43cc18392c1b.json
  change/@focus4-toolbox-f6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  change/@focus4-tooling-a6e5f60d-b343-4f08-87c2-948d4cc7df22.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Support des décorateurs via SWC au lieu de babel
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
  packages/tooling/src/vite.ts
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

oxfmt
  .beachballrc.json
  .oxfmtrc.json
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/focus4.core.ts
  packages/docs/.storybook/preview.tsx
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/form-toolbox/src/components/__tests__/autocomplete.test.tsx
  packages/form-toolbox/src/components/input-date.tsx
  packages/forms/package.json
  packages/forms/src/utils/mask.ts
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/toolbox/src/components/__tests__/radio.test.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
  tsconfig.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Fix LoadData qui peut retourner un type partiel
  .vscode/settings.json
  change/@focus4-stores-c2ce66d4-bd72-44b3-9e1f-4164d2b4315c.json
  change/@focus4-tooling-c70a4374-d2b0-4e81-93ed-5b70aafa1965.json
  packages/stores/src/entity/form/builders/form-actions.ts
  packages/stores/src/entity/store/load-builder.ts
  packages/tooling/oxlintrc.json
Due: Stores, Tooling

v12.13.1
  change/@focus4-stores-c2ce66d4-bd72-44b3-9e1f-4164d2b4315c.json
  change/@focus4-tooling-c70a4374-d2b0-4e81-93ed-5b70aafa1965.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Fix types required oubliés dans PatchXXX, en trop dans les FormNodeBuilders
  packages/stores/src/entity/form/builders/form-entry.ts
  packages/stores/src/entity/form/builders/form-list-node.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/types/patch.ts
Due: Stores

Fix type de retour de `getValues()` pour les formulaires sans les champs ajoutés.
  change/@focus4-stores-7e819e36-8263-4b76-b5a6-45d9c5e7d723.json
  packages/stores/src/entity/types/form.ts
Due: Stores

v12.13.2
  change/@focus4-stores-7e819e36-8263-4b76-b5a6-45d9c5e7d723.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/collection/server.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/types/index.ts
  packages/stores/src/focus4.stores.ts
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix decorators plugin
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
  packages/tooling/src/vite.ts
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Ajout "initiallyRetracted" sur LateralMenu
  change/@focus4-layout-e6b67bc8-a9e3-435f-9817-5d1fee02e255.json
  packages/collections/src/search/__tests__/advanced-search.test.tsx
  packages/collections/src/search/advanced-search.tsx
  packages/layout/src/panels/__tests__/scrollspy-container.test.tsx
  packages/layout/src/panels/scrollspy-container.tsx
  packages/layout/src/presentation/lateral-menu.tsx
  packages/toolbox/src/__tests__/test-utils.tsx
Due: Collections, Layout, Toolbox

deps
  change/@focus4-layout-e6b67bc8-a9e3-435f-9817-5d1fee02e255.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Docs, Form toolbox, Layout, Styling, Toolbox, Tooling

v12.13.3
  change/@focus4-collections-79d9e4c5-6159-4f6f-9031-a9d3db263043.json
  change/@focus4-form-toolbox-41e5ed23-f194-4e06-97bc-3bc9148f9f08.json
  change/@focus4-layout-4e379b54-39b8-4652-851b-5086d71e8bb3.json
  change/@focus4-layout-e6b67bc8-a9e3-435f-9817-5d1fee02e255.json
  change/@focus4-styling-cc76eb9e-a35b-4eb0-b27b-a8de869ecc71.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/styling/package.json
  packages/toolbox/package.json
Due: Collections, Docs, Form toolbox, Layout, Styling, Toolbox

coverage
  packages/collections/package.json
  packages/collections/src/list/__tests__/action-bar.test.tsx
  packages/collections/src/list/base/__tests__/pagination.test.ts
  packages/collections/src/search/__tests__/chip.test.tsx
  packages/collections/src/search/__tests__/summary.test.tsx
  packages/collections/src/search/facet-box/__tests__/facet-box.test.tsx
  packages/collections/src/search/results/__tests__/results.test.tsx
  packages/core/src/router/__tests__/router.test.ts
  packages/core/src/stores/__tests__/user.test.ts
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/form-toolbox/src/components/__tests__/autocomplete-chips.test.tsx
  packages/form-toolbox/src/components/__tests__/input-date.test.tsx
  packages/layout/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/toolbox/src/__tests__/test-utils.tsx
  packages/toolbox/src/components/__tests__/autocomplete.test.tsx
  packages/toolbox/src/components/__tests__/calendar.test.tsx
  packages/toolbox/src/components/__tests__/dropdown.test.tsx
  packages/toolbox/src/components/__tests__/menu.test.tsx
  packages/toolbox/src/components/__tests__/text-field.test.tsx
  vite.config.ts
Due: Collections, Core, Docs, Form toolbox, Layout, Styling, Toolbox

[Layout] Fix fallbackFocus manquant sur les focus trap
  change/@focus4-layout-f1ea6487-4120-4791-958c-de757b9866e1.json
  packages/layout/src/presentation/dialog.tsx
  packages/layout/src/presentation/scrollable.tsx
Due: Layout

v12.13.4
  change/@focus4-layout-f1ea6487-4120-4791-958c-de757b9866e1.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/layout/package.json
Due: Collections, Docs, Layout
