Repository klee-contrib/focus4: changes, and which Codecov flags are due for each by the changed paths.
All: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

v12.11.2
  change/@focus4-forms-895277b2-a296-43d9-b812-34444371d040.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
Due: Collections, Docs, Form toolbox, Forms

Fix formatter stringFor pour value undefined
  change/@focus4-stores-01de7e8e-00c7-43c4-b076-9cf736c18f75.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/entity/utils/string-for.ts
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

v12.11.3
  change/@focus4-stores-01de7e8e-00c7-43c4-b076-9cf736c18f75.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix config oxlint
  packages/tooling/oxlintrc.json
Due: Tooling

Ajout hint sur SelectChips
  packages/form-toolbox/src/components/select-chips.tsx
Due: Form toolbox

Ajout stopPropagation sur click du TextField
  packages/toolbox/src/components/text-field.tsx
Due: Toolbox

Change files
  change/@focus4-form-toolbox-39e8d71e-ac90-4251-9638-7e4e4cc30f97.json
  change/@focus4-toolbox-15a6ed70-6648-4551-8ca9-c2d6d4c7422b.json
  change/@focus4-tooling-0ff686eb-4816-4cfe-9c15-04e51e3dd1a7.json
Due: none

v12.11.4
  change/@focus4-form-toolbox-39e8d71e-ac90-4251-9638-7e4e4cc30f97.json
  change/@focus4-toolbox-15a6ed70-6648-4551-8ca9-c2d6d4c7422b.json
  change/@focus4-tooling-0ff686eb-4816-4cfe-9c15-04e51e3dd1a7.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Fix nouveaux warnings
  change/@focus4-tooling-907cec6a-72f2-40eb-a595-64368583f9b6.json
  package-lock.json
  packages/collections/src/search/search-bar.tsx
  packages/collections/tsdown.config.ts
  packages/core/src/network/fetch.ts
  packages/core/src/router/match.ts
  packages/core/src/router/query.ts
  packages/form-toolbox/src/components/input-date.tsx
  packages/form-toolbox/tsdown.config.ts
  packages/forms/src/utils/input.ts
  packages/forms/src/utils/mask.ts
  packages/layout/tsdown.config.ts
  packages/stores/src/entity/form/validation.ts
  packages/styling/src/config.ts
  packages/toolbox/src/components/autocomplete.tsx
  packages/toolbox/tsdown.config.ts
  packages/tooling/oxlintrc.json
  packages/tooling/src/focus4.tooling.ts
  packages/tooling/src/vite.ts
Due: Collections, Core, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

[Core] Add missing StringParam & NumberParam type exports
  packages/core/src/focus4.core.ts
  packages/core/src/router/index.ts
Due: Core

Recherche : ne masque plus le tri quand on est groupé
  change/@focus4-collections-4a939869-3247-4350-b82c-464e6b420aed.json
  packages/collections/src/list/action-bar.tsx
  packages/collections/src/search/results/index.tsx
  packages/collections/src/search/summary.tsx
Due: Collections

deps
  package-lock.json
  package.json
  packages/collections/package.json
  packages/docs/package.json
  packages/layout/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Docs, Layout, Styling, Toolbox, Tooling

v12.11.5
  change/@focus4-collections-4a939869-3247-4350-b82c-464e6b420aed.json
  change/@focus4-tooling-907cec6a-72f2-40eb-a595-64368583f9b6.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

`formField.errors` avec traduction et concaténation dans `useField`
  change/@focus4-forms-f5d48d4f-045b-4eee-a657-c9ba536dd72c.json
  change/@focus4-stores-769b49bd-c8d4-4b76-866d-4bc941fa55a5.json
  packages/forms/src/fields/field.tsx
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/form/validation.ts
  packages/stores/src/entity/types/form.ts
Due: Forms, Stores

Fix traduction message d'action MessageCenter
  change/@focus4-layout-87346ec0-e705-426a-841f-934c736f6acc.json
  packages/layout/src/utils/message-center.tsx
Due: Layout

Surcharge de `requiredErrorMessage` dans `.metadata()`
  change/@focus4-stores-706d5f68-749b-4d12-990f-cceb7f312aa0.json
  packages/stores/src/entity/form/builders/entity-field.ts
  packages/stores/src/entity/form/validation.ts
Due: Stores

Surchage de makeReferenceList avec une définition de liste de référence
  change/@focus4-stores-69db76a9-58ec-47fa-852c-b75fbf36fa80.json
  packages/stores/src/reference/__tests__/util.test.ts
  packages/stores/src/reference/util.ts
Due: Stores

maj docs
  packages/docs/basics/04-reference.mdx
  packages/docs/model/07-make-field.mdx
Due: Docs

v12.12.0
  change/@focus4-forms-f5d48d4f-045b-4eee-a657-c9ba536dd72c.json
  change/@focus4-layout-87346ec0-e705-426a-841f-934c736f6acc.json
  change/@focus4-stores-69db76a9-58ec-47fa-852c-b75fbf36fa80.json
  change/@focus4-stores-706d5f68-749b-4d12-990f-cceb7f312aa0.json
  change/@focus4-stores-769b49bd-c8d4-4b76-866d-4bc941fa55a5.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Layout, Stores

Fix `field.errors` non mentionné dans la doc
  packages/docs/model/08-form-store.mdx
  packages/tooling/oxlintrc.json
Due: Docs, Tooling

Fix traduction du message d'erreur de sauvegarde avant l'arrivée dans le messageStore
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/form/builders/form-actions.ts
Due: Stores

Ajout exports de types de props manquants module layout
  change/@focus4-layout-eb30f685-b7a1-447e-aaf9-69f00ebf3ff5.json
  change/@focus4-stores-4bb30c4d-c308-472b-b707-3be4cb34d054.json
  packages/layout/src/focus4.layout.tsx
  packages/layout/src/header/index.ts
  packages/layout/src/menu/index.tsx
  packages/layout/src/presentation/index.ts
Due: Layout

deps
  change/@focus4-tooling-c0340ad8-0daf-49ea-80f1-14682ceb99b6.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/.storybook/main.ts
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/postinstall.js
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Tooling

v12.12.1
  change/@focus4-layout-eb30f685-b7a1-447e-aaf9-69f00ebf3ff5.json
  change/@focus4-stores-4bb30c4d-c308-472b-b707-3be4cb34d054.json
  change/@focus4-tooling-c0340ad8-0daf-49ea-80f1-14682ceb99b6.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Fix saisie champ input number
  packages/forms/src/utils/input.ts
Due: Forms

Fix champ ajouté sans valeur initiale non inclus dans "initialData"
  packages/stores/src/entity/form/actions.ts
Due: Stores

Change files
  change/@focus4-forms-26734997-6cbb-40d2-8262-9677a5325873.json
  change/@focus4-stores-ae1c0853-cd92-442a-bc96-7620c37ec4e6.json
Due: none

v12.12.2
  change/@focus4-forms-26734997-6cbb-40d2-8262-9677a5325873.json
  change/@focus4-stores-ae1c0853-cd92-442a-bc96-7620c37ec4e6.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix valeur par défaut hasLabel
  change/@focus4-forms-dfdacd49-25bf-437d-8efa-232201b2a623.json
  packages/forms/src/fields/field.tsx
Due: Forms

deps
  change/@focus4-tooling-7c5e2281-a90f-4b3e-ad54-831e23b28535.json
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/router/builders.ts
  packages/core/src/router/query.ts
  packages/docs/package.json
  packages/entities/src/utils.ts
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/forms/src/utils/__tests__/input.test.ts
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/collection/local.ts
  packages/styling/package.json
  packages/toolbox/package.json
  packages/toolbox/src/components/calendar.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

v12.12.3
  change/@focus4-forms-dfdacd49-25bf-437d-8efa-232201b2a623.json
  change/@focus4-tooling-7c5e2281-a90f-4b3e-ad54-831e23b28535.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

fix docs
  package-lock.json
  package.json
Due: none

Fix defaultGetKey autocompleteSearch/Chips
  change/@focus4-form-toolbox-5eea9550-0daf-4504-872d-919c27f309e4.json
  packages/docs/components/form-toolbox/adresse.ts
  packages/form-toolbox/src/components/autocomplete-chips.tsx
  packages/form-toolbox/src/components/autocomplete.tsx
Due: Docs, Form toolbox

[AutocompleteSearch] trackingId + clear de la query sur value = undefined
  packages/docs/components/form-toolbox/AutocompleteSearch.stories.tsx
  packages/form-toolbox/src/components/autocomplete-chips.tsx
  packages/form-toolbox/src/components/autocomplete.tsx
Due: Docs, Form toolbox

deps
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Maj docs spécifications de formulaires
  change/@focus4-stores-9ae0bd7f-db73-405e-a57f-50be1472b613.json
  packages/docs/model/09-form-specs.mdx
  packages/docs/model/10-form-specs-2.mdx
  packages/docs/model/11-form-actions.mdx
  packages/docs/model/12-form-components.mdx
  packages/stores/src/entity/index.ts
  packages/stores/src/focus4.stores.ts
Due: Docs, Stores

v12.12.4
  change/@focus4-form-toolbox-5eea9550-0daf-4504-872d-919c27f309e4.json
  change/@focus4-stores-9ae0bd7f-db73-405e-a57f-50be1472b613.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix valueFormatter booleen / ajout types utilitaires dans entities
  change/@focus4-core-b77fbd08-a7ec-4b18-8a6e-06360652c62b.json
  change/@focus4-entities-78af591a-362c-48da-81b9-0ac50e1987f7.json
  change/@focus4-stores-81b727dd-8f31-40dc-a045-1aa063518587.json
  packages/core/src/i18n.ts
  packages/entities/src/focus4.entities.ts
  packages/entities/src/types.ts
  packages/stores/src/entity/form/builders/form-node.ts
Due: Core, Entities, Stores

v12.12.5
  change/@focus4-core-b77fbd08-a7ec-4b18-8a6e-06360652c62b.json
  change/@focus4-entities-78af591a-362c-48da-81b9-0ac50e1987f7.json
  change/@focus4-stores-81b727dd-8f31-40dc-a045-1aa063518587.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores

Fix initialisation store node avec propriété "type" existante
  change/@focus4-stores-2b9c5841-b775-4220-993d-6dcd34a29e04.json
  packages/stores/src/entity/store/node.ts
Due: Stores

Path conditions:
  Collections: any of: packages/collections/**
  Core: any of: packages/core/**
  Docs: any of: packages/docs/**
  Entities: any of: packages/entities/**
  Form toolbox: any of: packages/form-toolbox/**
  Forms: any of: packages/forms/**
  Layout: any of: packages/layout/**
  Stores: any of: packages/stores/**
  Styling: any of: packages/styling/**
  Toolbox: any of: packages/toolbox/**
  Tooling: any of: packages/tooling/**
