Repository klee-contrib/focus4: changes, and which Codecov flags are due for each by the changed paths.
All: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

useLocal/ServerCollectionStore
  packages/collections/src/focus4.collections.ts
  packages/collections/src/store.ts
  packages/docs/collections/02-store.mdx
Due: Collections, Docs

Ajustements calcul taille du header
  packages/layout/src/header/top-row.tsx
  packages/layout/src/presentation/scrollable.tsx
  packages/layout/src/utils/contexts.ts
Due: Layout

Fix génération hash css typings sous Linux
  packages/tooling/src/generator/index.ts
Due: Tooling

Panel repliable
  packages/form-toolbox/src/translation/en.ts
  packages/form-toolbox/src/translation/fr.ts
  packages/form-toolbox/src/translation/icons.ts
  packages/layout/src/panels/__style__/panel.css
  packages/layout/src/panels/panel-buttons.tsx
  packages/layout/src/panels/panel.tsx
  packages/layout/src/translation/en.ts
  packages/layout/src/translation/fr.ts
  packages/layout/src/translation/icons.ts
  packages/layout/src/translation/index.ts
Due: Form toolbox, Layout

Fixes
  packages/layout/src/header/top-row.tsx
  packages/layout/src/presentation/scrollable.tsx
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/utils/defaults.ts
Due: Layout, Stores

deps
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Styling, Toolbox, Tooling

v12.9.0
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Fix APIs ServerCollectionStore mal exposées
  packages/stores/src/collection/local.ts
  packages/stores/src/collection/server.ts
Due: Stores

v12.9.1
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix type ServerCollectionStore (encore...)
  packages/collections/src/store.ts
  packages/stores/src/collection/server.ts
  packages/stores/src/collection/types.ts
Due: Collections, Stores

v12.9.2
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Docs, Form toolbox, Forms, Stores

Fix hot reload css automodules avec d'autres plugins CSS
  packages/tooling/src/vite.ts
Due: Tooling

v12.9.3
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Docs, Form toolbox, Forms, Layout, Toolbox, Tooling

Fix traduction des libellés manquantes dans form-toolbox
  packages/form-toolbox/src/components/autocomplete-chips.tsx
  packages/form-toolbox/src/components/autocomplete.tsx
  packages/form-toolbox/src/components/boolean-radio.tsx
  packages/form-toolbox/src/components/select-autocomplete.tsx
  packages/form-toolbox/src/components/select-chips.tsx
  packages/form-toolbox/src/components/select.tsx
Due: Form toolbox

Update SearchService type to allow any additional properties in testsSearchService type mock
  packages/stores/src/collection/__tests__/store.test.ts
Due: Stores

Fix class "form" non passée au div en "noForm"
  packages/form-toolbox/src/field/form.tsx
Due: Form toolbox

v12.10.0
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Fix toolbox variables manquantes
  packages/toolbox/src/focus4.toolbox.ts
  packages/toolbox/src/utils/variables.css
  tsconfig.json
Due: Toolbox

v12.10.1
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/toolbox/package.json
Due: Collections, Docs, Form toolbox, Layout, Toolbox

Ajout exports de types manquants
  packages/core/src/focus4.core.ts
  packages/core/src/router/index.ts
  packages/core/src/router/param.ts
  packages/core/src/router/query.ts
  packages/layout/src/focus4.layout.tsx
  packages/layout/src/panels/index.ts
  packages/stores/src/entity/form/builders/form-entry.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/builders/index.ts
  packages/stores/src/entity/form/index.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/focus4.stores.ts
Due: Core, Layout, Stores

Refonte gestion état d'ouverture des facettes
  packages/collections/src/focus4.collections.ts
  packages/collections/src/list/action-bar.tsx
  packages/collections/src/search/advanced-search.tsx
  packages/collections/src/search/facet-box/facet.tsx
  packages/collections/src/search/facet-box/index.tsx
  packages/collections/src/search/index.ts
  packages/collections/src/store.ts
  packages/stores/src/collection/index.ts
  packages/stores/src/focus4.stores.ts
  scripts/docgen.mjs
Due: Collections, Stores

(C'est mieux si on vérifie les types au build)
  package.json
  packages/docs/components/toolbox/Checkbox.stories.tsx
  packages/docs/components/toolbox/Slider.stories.tsx
  packages/docs/components/toolbox/Switch.stories.tsx
  packages/stores/src/entity/form/builders/entity-field.ts
  scripts/docgen.mjs
  tsconfig.json
Due: Docs, Stores

v12.10.2
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores

fix tsconfigs
  packages/legacy/tsconfig.json
  packages/toolbox/tsconfig.json
Due: Toolbox

v12.10.3
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/toolbox/package.json
Due: Collections, Docs, Form toolbox, Layout, Toolbox

[toolbox] Fix mise en page Switch
  packages/toolbox/src/components/__style__/switch.css
  packages/toolbox/src/components/switch.tsx
Due: Toolbox

v12.10.4
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/layout/package.json
  packages/toolbox/package.json
Due: Collections, Docs, Form toolbox, Layout, Toolbox

Fix abort non pris en compte dans le requestStore s'il intervient trop tôt
  packages/core/src/network/fetch.ts
Due: Core

v12.10.5
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores

maj deps (majeures Ky et i18next en particulier)
  .github/workflows/tests.yaml
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/config.ts
  packages/core/src/focus4.core.ts
  packages/core/src/i18n.ts
  packages/core/src/network/__tests__/error-parsing.test.ts
  packages/core/src/network/fetch.ts
  packages/docs/.storybook/preview.tsx
  packages/docs/.storybook/vitest.setup.ts
  packages/docs/package.json
  packages/docs/vitest.config.ts
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

export type PrimaryAction
  .github/workflows/tests.yaml
  packages/layout/src/focus4.layout.tsx
  packages/layout/src/header/actions.tsx
  packages/layout/src/header/index.ts
Due: Layout

Gestion des warnings oxlint/typescript
  packages/collections/src/list/list/index.tsx
  packages/collections/src/list/table/index.tsx
  packages/collections/src/list/timeline/index.tsx
  packages/core/src/network/__tests__/error-parsing.test.ts
  packages/core/src/router/types.ts
  packages/entities/src/types.ts
  packages/form-toolbox/src/domain.ts
  packages/forms/src/fields/form.tsx
  packages/forms/src/fields/utils.tsx
  packages/stores/src/collection/base.ts
  packages/stores/src/collection/types.ts
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/form/builders/entity-field.ts
  packages/stores/src/entity/form/builders/form-actions.ts
  packages/stores/src/entity/form/builders/form-list-node.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/store/load-builder.ts
  packages/stores/src/entity/store/load.ts
  packages/stores/src/entity/store/node.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/utils/themeable.ts
  packages/stores/src/reference/store.ts
  packages/styling/src/theme/common.ts
  packages/styling/src/theme/theme-provider.tsx
  packages/styling/src/theme/themeable.ts
  packages/toolbox/src/components/calendar.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/src/focus4.tooling.ts
Due: Collections, Core, Entities, Form toolbox, Forms, Stores, Styling, Toolbox, Tooling

node.set/replace qui remplace `null` par `undefined`
  package-lock.json
  packages/stores/src/entity/store/node.ts
  packages/tooling/package.json
Due: Stores, Tooling

Listes de référence en dur dans le store de référence
  packages/docs/basics/04-reference.mdx
  packages/stores/src/reference/__tests__/store.test.ts
  packages/stores/src/reference/store.ts
  packages/stores/src/reference/types.ts
Due: Docs, Stores

beachball
  .beachballrc.json
  .gitignore
  change/@focus4-core-6c38938b-ce8b-464b-a60d-d819aefea72f.json
  change/@focus4-entities-36631522-e568-4aea-a5c2-521bc9bee7b3.json
  change/@focus4-stores-2fa1f930-f8d8-4da4-ad6a-53aff885bb37.json
  change/@focus4-styling-5318e127-d1c6-414b-b8d3-a91a462e2e1c.json
  change/@focus4-tooling-59274cba-cdc5-45aa-99aa-f1c6c3a9d792.json
  lerna.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/docs/package.json
  scripts/postinstall.mjs
Due: Core, Docs

v12.11.0
  .beachballrc.json
  change/@focus4-core-6c38938b-ce8b-464b-a60d-d819aefea72f.json
  change/@focus4-entities-36631522-e568-4aea-a5c2-521bc9bee7b3.json
  change/@focus4-stores-2fa1f930-f8d8-4da4-ad6a-53aff885bb37.json
  change/@focus4-styling-5318e127-d1c6-414b-b8d3-a91a462e2e1c.json
  change/@focus4-tooling-59274cba-cdc5-45aa-99aa-f1c6c3a9d792.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

v12.11.1
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Fix formatter i18n si value === undefined
  change/@focus4-forms-895277b2-a296-43d9-b812-34444371d040.json
  packages/forms/src/utils/display.ts
Due: Forms

Path conditions:
  Collections: any of: packages/collections/**
  Core: any of: packages/core/**
  Docs: any of: packages/docs/**
  Entities: any of: packages/entities/**
  Form toolbox: any of: packages/form-toolbox/**
  Forms: any of: packages/forms/**
  Layout: any of: packages/layout/**
  Stores: any of: packages/stores/**
  Styling: any of: packages/styling/**
  Toolbox: any of: packages/toolbox/**
  Tooling: any of: packages/tooling/**
