Repository klee-contrib/focus4: changes, and which Codecov flags are due for each by the changed paths.
All: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Add tests for router
  package-lock.json
  packages/core/package.json
  packages/core/src/router/__tests__/builders.test.ts
  packages/core/src/router/__tests__/match.test.ts
  packages/core/src/router/__tests__/param.test.ts
  packages/core/src/router/__tests__/query.test.ts
  packages/core/src/router/__tests__/router.test.ts
  packages/core/vite.config.js
  vite.config.ts
Due: Core

Fix formatter boolean qui gèrait pas bien `undefined`
  packages/core/src/i18n.ts
Due: Core

Ajout readme, avec tous les badges de versions
  README.md
  packages/collections/readme.md
  packages/core/readme.md
  packages/docs/main.mdx
  packages/entities/readme.md
  packages/form-toolbox/readme.md
  packages/forms/readme.md
  packages/layout/readme.md
  packages/legacy/readme.md
  packages/stores/readme.md
  packages/styling/readme.md
  packages/toolbox/readme.md
  packages/tooling/readme.md
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

[Tests] Ajout tests forms utils
  package-lock.json
  packages/forms/package.json
  packages/forms/src/utils/__tests__/input.test.ts
  packages/forms/src/utils/__tests__/mask.test.ts
  packages/forms/src/utils/__tests__/selection.test.ts
  packages/forms/src/utils/selection.ts
  packages/forms/vite.config.js
Due: Forms

[Tests] Ajout tests forms node
  packages/forms/src/stores/__tests__/form.test.ts
Due: Forms

[Tests] Ajout tests forms use load
  packages/forms/src/stores/__tests__/load.test.ts
Due: Forms

`coreFetch` réimplementé avec `ky`
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/focus4.core.ts
  packages/core/src/network/error-parsing.ts
  packages/core/src/network/fetch.ts
  packages/core/src/network/index.ts
  packages/docs/basics/02-fetch.mdx
  packages/docs/package.json
  packages/layout/package.json
Due: Collections, Core, Docs, Layout

v12.7.0
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Suppression des références explicites aux indexs des workspaces
  packages/entities/src/__tests__/entity.spec.ts
  packages/toolbox/src/components/progress-indicator.tsx
Due: Entities, Toolbox

Reformat tests files
  packages/core/src/stores/__tests__/message.test.ts
  packages/core/src/stores/__tests__/user.test.ts
  packages/entities/src/__tests__/entity.spec.ts
  packages/stores/src/collection/__tests__/store.test.ts
Due: Core, Entities, Stores

[Core] Ajouts tests error parsing. Ne pas surcharger le type lorsque l'erreur n'est pas un problemDetails
  packages/core/src/network/__tests__/error-parsing.test.ts
  packages/core/src/network/error-parsing.ts
Due: Core

[Tests] Ajout de tests pour les fonctions loadCSS et generateCSSTypings
  packages/tooling/src/generator/__tests__/index.test.ts
Due: Tooling

[Validator] Fix defaultValue utilisé comme message d'erreur par défaut
  packages/stores/src/entity/validation.ts
Due: Stores

maj deps (+ warnings)
  package-lock.json
  package.json
  packages/collections/package.json
  packages/core/package.json
  packages/core/src/network/__tests__/error-parsing.test.ts
  packages/core/src/router/__tests__/router.test.ts
  packages/core/src/stores/__tests__/message.test.ts
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/forms/src/utils/__tests__/input.test.ts
  packages/forms/src/utils/__tests__/mask.test.ts
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/collection/__tests__/store.test.ts
  packages/stores/src/reference/__tests__/store.test.ts
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Add stories for `fieldFor` function with various field types and configurations
  package-lock.json
  packages/docs/.storybook/custom/css-variables.tsx
  packages/docs/model/forms.stories.tsx
  packages/docs/package.json
Due: Docs

Séparation Form/Field entre forms et form-toolbox.
  packages/docs/.storybook/preview.tsx
  packages/form-toolbox/package.json
  packages/form-toolbox/src/domain.ts
  packages/form-toolbox/src/field/__style__/field.css
  packages/form-toolbox/src/field/__style__/form.css
  packages/form-toolbox/src/field/field.tsx
  packages/form-toolbox/src/field/form.tsx
  packages/form-toolbox/src/field/index.ts
  packages/form-toolbox/src/focus4.form-toolbox.ts
  packages/forms/package.json
  packages/forms/rollup.config.js
  packages/forms/src/fields/field.tsx
  packages/forms/src/fields/form.tsx
  packages/forms/src/fields/index.ts
  packages/forms/src/fields/utils.tsx
  packages/forms/src/focus4.forms.ts
  packages/stores/src/entity/field/index.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/focus4.stores.ts
Due: Docs, Form toolbox, Forms, Stores

Rename en FormCore (pour form-toolbox)
  packages/form-toolbox/src/field/form.tsx
  packages/form-toolbox/src/field/index.ts
  packages/form-toolbox/src/focus4.form-toolbox.ts
  packages/forms/src/fields/form.tsx
Due: Form toolbox, Forms

Comportments par défaut de `domain` dans les composants, `useDisplay`
  packages/docs/components/form-toolbox/Display.stories.tsx
  packages/docs/components/form-toolbox/Input.stories.tsx
  packages/docs/components/form-toolbox/InputDate.stories.tsx
  packages/entities/src/focus4.entities.ts
  packages/entities/src/utils.ts
  packages/form-toolbox/src/components/display.tsx
  packages/form-toolbox/src/components/input-date.tsx
  packages/form-toolbox/src/components/input.tsx
  packages/form-toolbox/src/domain.ts
  packages/forms/src/fields/field.tsx
  packages/forms/src/focus4.forms.ts
  packages/forms/src/utils/display.ts
  packages/forms/src/utils/index.ts
  packages/forms/src/utils/input.ts
  packages/stores/src/entity/field/index.ts
  packages/stores/src/entity/field/utils.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/entity/string-for.ts
  packages/stores/src/focus4.stores.ts
Due: Docs, Entities, Form toolbox, Forms, Stores

Fix tests
  packages/form-toolbox/src/components/__tests__/input-date.test.tsx
Due: Form toolbox

v12.8.0
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/entities/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/styling/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Entities, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

Fix typage InputDate
  packages/form-toolbox/src/components/input-date.tsx
Due: Form toolbox

v12.8.1
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
Due: Collections, Docs, Form toolbox

fix config rollup forms
  packages/forms/rollup.config.js
Due: Forms

InputDate générique du schéma
  packages/form-toolbox/src/components/input-date.tsx
  packages/form-toolbox/src/domain.ts
Due: Form toolbox

v12.8.2
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
Due: Collections, Docs, Form toolbox, Forms

deps
  package-lock.json
  package.json
  packages/collections/package.json
  packages/collections/src/list/table/line.tsx
  packages/collections/src/search/facet-box/facet.tsx
  packages/collections/src/search/facet-box/index.tsx
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/form-toolbox/src/components/__tests__/input-date.test.tsx
  packages/forms/package.json
  packages/layout/package.json
  packages/layout/src/presentation/overlay.tsx
  packages/stores/package.json
  packages/toolbox/package.json
  packages/toolbox/src/components/calendar.tsx
  packages/toolbox/src/components/text-field.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Compte de facettes toujours affiché
  packages/collections/src/search/facet-box/facet.tsx
Due: Collections

v12.8.3
  lerna.json
  package-lock.json
  packages/collections/package.json
  packages/core/package.json
  packages/docs/package.json
  packages/form-toolbox/package.json
  packages/forms/package.json
  packages/layout/package.json
  packages/legacy/package.json
  packages/stores/package.json
  packages/toolbox/package.json
  packages/tooling/package.json
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Toolbox, Tooling

Fix lancement CLI focus4 sous linux
  packages/tooling/rollup.config.js
  packages/tooling/src/focus4.tooling.ts
Due: Tooling

Prise en compte du Header dans le registerIntersect du ScrollableContext
  packages/layout/src/header/content.tsx
  packages/layout/src/panels/scrollspy-container.tsx
  packages/layout/src/presentation/scrollable.tsx
  packages/layout/src/utils/contexts.ts
Due: Layout

Refonte headerHeight du Scrollable
  packages/layout/src/header/content.tsx
  packages/layout/src/header/top-row.tsx
  packages/layout/src/panels/scrollspy-container.tsx
  packages/layout/src/presentation/scrollable.tsx
  packages/layout/src/utils/contexts.ts
Due: Layout

Fix liens cassés doc composants de recherche
  packages/docs/collections/03-search.mdx
Due: Docs

Fix spinner manquant AutocompleteSearch à l'initiation + maj deps/warnings
  package-lock.json
  package.json
  packages/collections/package.json
  packages/collections/src/list/contextual-actions.tsx
  packages/collections/src/search/summary.tsx
  packages/core/package.json
  packages/docs/.storybook/custom/css-variables.tsx
  packages/docs/.storybook/vitest.setup.ts
  packages/docs/basics/02-fetch.mdx
  packages/docs/package.json
  packages/docs/vitest.shims.d.ts
  packages/form-toolbox/package.json
  packages/form-toolbox/src/components/autocomplete.tsx
  packages/form-toolbox/src/components/select-autocomplete.tsx
  packages/form-toolbox/src/components/select.tsx
  packages/form-toolbox/vite.config.js
  packages/forms/package.json
  packages/layout/package.json
  packages/layout/vite.config.js
  packages/legacy/package.json
  packages/stores/package.json
  packages/stores/src/collection/index.ts
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/types/components.ts
  packages/styling/package.json
  packages/toolbox/package.json
  packages/toolbox/src/components/autocomplete.tsx
  packages/toolbox/src/components/dropdown.tsx
  packages/tooling/oxlintrc.json
  packages/tooling/package.json
  scripts/clean.js
  scripts/docgen.mjs
Due: Collections, Core, Docs, Form toolbox, Forms, Layout, Stores, Styling, Toolbox, Tooling

`makeEntityStore` / `buildNode` ==> `makeStoreNode` (et `useStoreNode`)
  packages/collections/src/search/search-bar.tsx
  packages/docs/collections/02-store.mdx
  packages/docs/model/04-store.mdx
  packages/entities/src/builders/entity.ts
  packages/entities/src/types.ts
  packages/forms/src/focus4.forms.ts
  packages/forms/src/stores/__tests__/form.test.ts
  packages/forms/src/stores/__tests__/load.test.ts
  packages/forms/src/stores/form.ts
  packages/forms/src/stores/index.ts
  packages/forms/src/stores/store.ts
  packages/legacy/src/form.ts
  packages/stores/src/collection/index.ts
  packages/stores/src/collection/types.ts
  packages/stores/src/entity/__tests__/index.test.ts
  packages/stores/src/entity/form/list-node.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/entity/store/form.ts
  packages/stores/src/entity/store/index.ts
  packages/stores/src/entity/store/store.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/types/patch.ts
  packages/stores/src/entity/types/store.ts
  packages/stores/src/entity/types/utils.ts
  packages/stores/src/focus4.stores.ts
Due: Collections, Docs, Entities, Forms, Stores

Séparation LocalCollectionStore et ServerCollectionStore, et APIs de création distinctes
  packages/collections/src/search/search-bar.tsx
  packages/collections/src/search/summary.tsx
  packages/docs/collections/02-store.mdx
  packages/docs/collections/lists/List.stories.tsx
  packages/docs/collections/lists/Table.stories.tsx
  packages/docs/collections/lists/Timeline.stories.tsx
  packages/docs/collections/search/store.ts
  packages/forms/src/stores/load.ts
  packages/stores/src/collection/__tests__/store.test.ts
  packages/stores/src/collection/base.ts
  packages/stores/src/collection/index.ts
  packages/stores/src/collection/local.ts
  packages/stores/src/collection/server.ts
  packages/stores/src/collection/types.ts
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/store/load.ts
  packages/stores/src/focus4.stores.ts
Due: Collections, Docs, Forms, Stores

Réorganisation module store
  packages/stores/src/entity/__tests__/index.test.ts
  packages/stores/src/entity/field/index.ts
  packages/stores/src/entity/form/actions.ts
  packages/stores/src/entity/form/builders/entity-field.ts
  packages/stores/src/entity/form/builders/form-actions.ts
  packages/stores/src/entity/form/builders/form-list-node.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/builders/index.ts
  packages/stores/src/entity/form/index.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/form/validation.ts
  packages/stores/src/entity/index.ts
  packages/stores/src/entity/store/form.ts
  packages/stores/src/entity/store/index.ts
  packages/stores/src/entity/store/load-builder.ts
  packages/stores/src/entity/store/load.ts
  packages/stores/src/entity/store/node.ts
  packages/stores/src/entity/utils/defaults.ts
  packages/stores/src/entity/utils/field.ts
  packages/stores/src/entity/utils/index.ts
  packages/stores/src/entity/utils/string-for.ts
  packages/stores/src/entity/utils/themeable.ts
  packages/stores/src/entity/utils/to-flat-values.ts
  packages/stores/src/focus4.stores.ts
Due: Stores

add() sur un FormNode qui permet aussi des sous noeuds
  packages/docs/model/09-form-transforms.mdx
  packages/stores/src/collection/base.ts
  packages/stores/src/collection/local.ts
  packages/stores/src/collection/server.ts
  packages/stores/src/entity/form/builders/entry.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/form/node.ts
  packages/stores/src/entity/store/node.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/types/store.ts
  packages/stores/src/entity/utils/to-flat-values.ts
  packages/tooling/oxlintrc.json
Due: Docs, Stores, Tooling

Surcharge du libellé dans les champs.
  packages/docs/model/06-display-fields.mdx
  packages/forms/src/fields/field.tsx
  packages/stores/src/entity/utils/field.ts
Due: Docs, Forms, Stores

`patchAllTo`
  packages/docs/model/09-form-transforms.mdx
  packages/stores/src/entity/__tests__/index.test.ts
  packages/stores/src/entity/form/builders/form-node.ts
  packages/stores/src/entity/store/node.ts
  packages/stores/src/entity/types/form.ts
  packages/stores/src/entity/types/store.ts
Due: Docs, Stores

Path conditions:
  Collections: any of: packages/collections/**
  Core: any of: packages/core/**
  Docs: any of: packages/docs/**
  Entities: any of: packages/entities/**
  Form toolbox: any of: packages/form-toolbox/**
  Forms: any of: packages/forms/**
  Layout: any of: packages/layout/**
  Stores: any of: packages/stores/**
  Styling: any of: packages/styling/**
  Toolbox: any of: packages/toolbox/**
  Tooling: any of: packages/tooling/**
